<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>player1_damage.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 13}, {72, 62}}</string>
			<key>spriteOffset</key>
			<string>{1, 6}</string>
			<key>spriteSize</key>
			<string>{72, 62}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{292, 238}, {72, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>player1_flipA.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 12}, {66, 68}}</string>
			<key>spriteOffset</key>
			<string>{2, 4}</string>
			<key>spriteSize</key>
			<string>{66, 68}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{242, 76}, {66, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>player1_flipB.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 0}, {64, 94}}</string>
			<key>spriteOffset</key>
			<string>{1, 3}</string>
			<key>spriteSize</key>
			<string>{64, 94}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 288}, {64, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>player1_hyper.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{25, 9}, {52, 90}}</string>
			<key>spriteOffset</key>
			<string>{1, -4}</string>
			<key>spriteSize</key>
			<string>{52, 90}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{126, 0}, {52, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>player1_jump.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 1}, {58, 98}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{58, 98}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{66, 0}, {58, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>player1_land.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 10}, {62, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, 3}</string>
			<key>spriteSize</key>
			<string>{62, 74}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{174, 186}, {62, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>player1_sleep.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{25, 5}, {50, 92}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{50, 92}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{120, 292}, {50, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>player2_damage.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 13}, {72, 62}}</string>
			<key>spriteOffset</key>
			<string>{1, 6}</string>
			<key>spriteSize</key>
			<string>{72, 62}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{306, 146}, {72, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>player2_flipA.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 12}, {66, 68}}</string>
			<key>spriteOffset</key>
			<string>{2, 4}</string>
			<key>spriteSize</key>
			<string>{66, 68}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{244, 0}, {66, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>player2_flipB.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 0}, {64, 94}}</string>
			<key>spriteOffset</key>
			<string>{1, 3}</string>
			<key>spriteSize</key>
			<string>{64, 94}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {64, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>player2_hyper.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{25, 9}, {52, 90}}</string>
			<key>spriteOffset</key>
			<string>{1, -4}</string>
			<key>spriteSize</key>
			<string>{52, 90}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{66, 292}, {52, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>player2_jump.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 1}, {58, 98}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{58, 98}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{66, 100}, {58, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>player2_land.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 10}, {62, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, 3}</string>
			<key>spriteSize</key>
			<string>{62, 74}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{172, 386}, {62, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>player2_sleep.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{25, 5}, {50, 92}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{50, 92}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{126, 92}, {50, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>player3_damage.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 13}, {72, 62}}</string>
			<key>spriteOffset</key>
			<string>{1, 6}</string>
			<key>spriteSize</key>
			<string>{72, 62}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{310, 70}, {72, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>player3_flipA.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 12}, {66, 68}}</string>
			<key>spriteOffset</key>
			<string>{2, 4}</string>
			<key>spriteSize</key>
			<string>{66, 68}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{224, 262}, {66, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>player3_flipB.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 0}, {64, 94}}</string>
			<key>spriteOffset</key>
			<string>{1, 3}</string>
			<key>spriteSize</key>
			<string>{64, 94}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 192}, {64, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>player3_hyper.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{25, 9}, {52, 90}}</string>
			<key>spriteOffset</key>
			<string>{1, -4}</string>
			<key>spriteSize</key>
			<string>{52, 90}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{120, 200}, {52, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>player3_jump.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 1}, {58, 98}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{58, 98}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 384}, {58, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>player3_land.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 10}, {62, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, 3}</string>
			<key>spriteSize</key>
			<string>{62, 74}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{180, 0}, {62, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>player3_sleep.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{25, 5}, {50, 92}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{50, 92}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{172, 292}, {50, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>player4_damage.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 13}, {72, 62}}</string>
			<key>spriteOffset</key>
			<string>{1, 6}</string>
			<key>spriteSize</key>
			<string>{72, 62}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{236, 332}, {72, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>player4_flipA.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 12}, {66, 68}}</string>
			<key>spriteOffset</key>
			<string>{2, 4}</string>
			<key>spriteSize</key>
			<string>{66, 68}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{238, 168}, {66, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>player4_flipB.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 0}, {64, 94}}</string>
			<key>spriteOffset</key>
			<string>{1, 3}</string>
			<key>spriteSize</key>
			<string>{64, 94}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 96}, {64, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>player4_hyper.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{25, 9}, {52, 90}}</string>
			<key>spriteOffset</key>
			<string>{1, -4}</string>
			<key>spriteSize</key>
			<string>{52, 90}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{66, 200}, {52, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>player4_jump.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 1}, {58, 98}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{58, 98}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{60, 384}, {58, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>player4_land.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 10}, {62, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, 3}</string>
			<key>spriteSize</key>
			<string>{62, 74}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{178, 92}, {62, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>player4_sleep.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{25, 5}, {50, 92}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{50, 92}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{120, 386}, {50, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
		<key>name</key>
		<string>playerSprites</string>
		<key>textureFileName</key>
		<string>playerSprites-hd.pvr</string>
		<key>premultipliedAlpha</key>
		<true/>
	</dict>
</dict>
</plist>